.top{
  padding: 56px 0 132px;
  position: relative;

  &__info{
    width: 662px;
  }

  &__title{
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    color: #000000;
    margin-bottom: 45px;

    &-orange{
      color: #BD7048;
    }
  }

  &__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  &__img{
    position: absolute;
    right: 0;
    top: 31px;
  }

}