.working{
  padding: 47px 0 135px;

  &__title{
    font-weight: 700;
    font-size: 40px;
    color: #262626;
    margin-bottom: 77px;
  }

  &__row{
    display: flex;
    align-items: center;
    column-gap: 117px;
  }

  &__card{
    width: calc(33.33333% - 39px);
    position: relative;

    &-title{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #262626;
      margin-bottom: 2px;
    }

    &-img{
      position: absolute;
      left: -10px;
    }
  }
}