@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1226px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: white;
}

.btn {
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  padding: 28px 55px;
  border: none;
  background: #BD7048;
  border-radius: 100px;
  cursor: pointer;
}

.header {
  padding: 46px 0 32px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.header__title-orn {
  color: #BD7048;
}
.header__subtitle {
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  margin: 0 158px 0 206px;
}
.header__menu-item {
  font-weight: 600;
  font-size: 15px;
  color: rgba(59, 59, 59, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__menu-item:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #BD7048;
  cursor: pointer;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}
.header__number {
  font-weight: 600;
  font-size: 15px;
  color: #3B3B3B;
}
.header__number-grey {
  color: rgba(59, 59, 59, 0.5);
}

.design {
  padding: 164px 0 300px;
  background: url("../images/design/designbg.png") center/cover no-repeat;
  position: relative;
}
.design__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 42px;
}
.design__btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 28px 39px;
  background: #BD7048;
  border-radius: 100px;
  border: none;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.design__order {
  position: absolute;
  background: #262626;
  -webkit-box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 100px 30px 53px;
  -webkit-column-gap: 38px;
     -moz-column-gap: 38px;
          column-gap: 38px;
  right: 0px;
  top: 45px;
}
.design__order-title {
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
}
.design__order-subtitle {
  font-weight: 500;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.design__order-bag {
  position: relative;
  z-index: 20;
}
.design__order-bag:before {
  content: "";
  position: absolute;
  background: #FDFDFD;
  -webkit-box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  width: 61px;
  height: 58px;
  z-index: -1;
  top: -14px;
  left: -19px;
}
.design__time {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 142px;
     -moz-column-gap: 142px;
          column-gap: 142px;
  padding: 68px 73px;
  z-index: 20;
  background: #FFFFFF;
  border-radius: 50px;
  bottom: -62px;
  left: 5px;
}
.design__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.design__card-title {
  font-weight: 500;
  font-size: 20px;
  color: #262626;
}
.design__card-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: rgba(59, 59, 59, 0.5);
  margin-top: 9px;
}

.job {
  padding: 205px 0 120px;
}
.job__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 175px;
     -moz-column-gap: 175px;
          column-gap: 175px;
}
.job__title {
  font-weight: 700;
  font-size: 40px;
  color: #262626;
}
.job__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.job__card-number {
  font-weight: 700;
  font-size: 70px;
  color: rgba(189, 112, 72, 0.2);
}
.job__card-title {
  font-weight: 500;
  font-size: 20px;
  color: #262626;
}
.job__card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(59, 59, 59, 0.5);
  margin-top: 10px;
}
.job__right {
  position: relative;
  z-index: 10;
}
.job__right:before {
  content: url("../images/job/job2.png");
  position: absolute;
  z-index: 20;
  top: 110px;
  left: -141px;
}

.services__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #262626;
  margin-bottom: 84px;
}
.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 286px;
     -moz-column-gap: 286px;
          column-gap: 286px;
  margin-bottom: 44px;
}
.services__left-title {
  font-weight: 600;
  font-size: 30px;
  color: #262626;
}
.services__subtitle {
  font-weight: 500;
  font-size: 20px;
  color: rgba(38, 38, 38, 0.7);
  margin: 23px 0 30px;
}
.services__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.services__list {
  font-weight: 500;
  font-size: 20px;
  color: #262626;
  margin: 44px 0 94px;
  position: relative;
  left: 40px;
}
.services__item {
  list-style: disc;
  position: relative;
}
.services__item:before {
  content: "";
  position: absolute;
  border: 1px solid #9F3535;
  height: 78px;
  left: -40px;
  top: 0;
}
.services__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 47px;
     -moz-column-gap: 47px;
          column-gap: 47px;
}
.services__btn {
  font-weight: 600;
  font-size: 15px;
  color: #BD7048;
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__right {
  position: relative;
}
.services__right:before {
  content: url("../images/services/services2.jpg");
  position: absolute;
  left: -183px;
  top: 38px;
  z-index: 10;
}
.services__right:after {
  content: url("../images/services/services3.png");
  position: absolute;
  left: -106px;
  top: 140px;
  z-index: 20;
}
.services__left2 {
  position: relative;
}
.services__left2:before {
  content: url("../images/services/services4.png");
  position: absolute;
  right: -230px;
  top: 71px;
  z-index: 10;
}
.services__left2:after {
  content: url("../images/services/services5.png");
  position: absolute;
  right: -131px;
  top: 183px;
  z-index: 20;
}

.check {
  padding: 164px 0 120px;
}
.check__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 218px;
     -moz-column-gap: 218px;
          column-gap: 218px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.check__title {
  font-weight: 600;
  font-size: 30px;
  color: #262626;
}
.check__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(38, 38, 38, 0.7);
  margin: 32px 0 39px;
}

.rooms__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #262626;
}
.rooms__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(38, 38, 38, 0.7);
  margin: 40px 0 38px;
}
.rooms__subtitle {
  font-weight: 500;
  font-size: 30px;
  color: #262626;
  margin-bottom: 43px;
  position: relative;
}
.rooms__subtitle:after {
  content: "";
  position: absolute;
  border: 1px solid #CBCBCB;
  width: 700px;
  top: 18px;
  right: 20px;
}
.rooms__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
}
.rooms__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 43px 0 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rooms__card-title {
  font-weight: 600;
  font-size: 20px;
  color: #353535;
}
.rooms__card-btn {
  font-weight: 500;
  font-size: 15px;
  color: #BD7048;
  padding: 14px 35px;
  border: none;
  background: #FAFAFA;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  cursor: pointer;
}
.rooms__btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.test {
  padding: 118px 0;
  margin: 112px 0 106px;
  background: url("../images/test/testbg.png") center/cover no-repeat;
}
.test__title {
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.test__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin: 27px 0 35px;
}

.question {
  padding-bottom: 74px;
}
.question__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #262626;
  margin-bottom: 72px;
}
.question__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(38, 38, 38, 0.7);
  margin: 34px 0;
}
.question__btn {
  padding: 11px 889px 11px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #262626;
  background: #FAFAFA;
  border-radius: 100px;
  border: none;
  margin-bottom: 21px;
}

.footer {
  padding-top: 51px;
  -webkit-box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.05);
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
}
.footer__item {
  font-weight: 500;
  font-size: 15px;
  color: rgba(59, 59, 59, 0.5);
  margin: 0 129px 0 209px;
}
.footer__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(33, 33, 33, 0.5);
  margin-right: 146px;
}
.footer__bottom {
  background: #262626;
  padding: 41px 0 38px;
  margin-top: 76px;
}
.footer__bottom-text {
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
}

.group {
  padding-top: 39px;
}
.group__subtitle {
  font-weight: 500;
  font-size: 30px;
  color: #000000;
  opacity: 0.7;
  text-align: center;
}
.group__subtitle-orn {
  color: #BD7048;
}
.group__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #060606;
  margin: 19px 0 103px;
}
.group__img {
  width: 1186px;
}

.ten {
  padding: 31px 0 97px;
}
.ten__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
}
.ten__row-title {
  font-weight: 400;
  font-size: 43px;
  line-height: 52px;
  color: #000000;
}
.ten__row-title-orn {
  color: #BD7048;
}
.ten__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 45px;
}
.ten__title {
  font-weight: 400;
  font-size: 43px;
  line-height: 52px;
  color: #000000;
  text-align: right;
  margin: 78px 0 61px;
  position: relative;
}
.ten__title-orn {
  color: #BD7048;
}
.ten__title:before {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  width: 556px;
  left: -30px;
  top: 20px;
}

.reel {
  padding-bottom: 102px;
}
.reel__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 132px;
     -moz-column-gap: 132px;
          column-gap: 132px;
}
.reel__right-title {
  font-weight: 400;
  font-size: 43px;
  color: #1B1B1B;
}
.reel__right-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #7E7E7E;
  margin: 20px 0 35px;
}
.reel__list {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.reel__item {
  position: relative;
  left: 30px;
  list-style: disc;
}
.reel__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #363636;
  margin: 64px 0 44px;
  position: relative;
}
.reel__title-orn {
  color: #BD7048;
}
.reel__title:after {
  content: "";
  position: absolute;
  width: 540px;
  border: 1px solid #000000;
  right: -15px;
  top: 20px;
}
.reel__video {
  padding: 290px 0 173px;
  background: url("../images/reel/reelbg.png") center/cover no-repeat;
}
.reel__video-title {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 63px;
}
.reel__video-title-orn {
  color: #FFA87B;
}
.reel__video-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
}
.reel__video-icon:before {
  content: url("../images/reel/circle.png");
  position: absolute;
  z-index: -1;
  bottom: -27px;
}

.plan {
  padding: 80px 0 84px;
}
.plan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 154px;
     -moz-column-gap: 154px;
          column-gap: 154px;
}
.plan__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plan__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 34px;
}
.plan__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.plan__title-bg {
  background: #BD7048;
  border-radius: 15px;
  width: 600px;
  height: 90px;
}
.plan__title-text {
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.plan__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.plan__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  list-style: disc;
}
.plan__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plan__price-title {
  font-weight: 500;
  font-size: 30px;
  color: #BD7048;
}
.plan__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
}
.plan__btns-orn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  padding: 14px 17px 19px 17px;
  background: #BD7048;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.plan__btns-pink {
  font-weight: 600;
  font-size: 15px;
  color: #BD7048;
  background: #FFDBC9;
  border-radius: 100px;
  padding: 20px 31px;
  border: none;
  cursor: pointer;
}

.more__title {
  font-weight: 700;
  font-size: 40px;
  color: #262626;
  margin-bottom: 88px;
  text-align: center;
}
.more__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.more__card {
  width: calc(33.33333% - 36.66666px);
}
.more__text {
  font-weight: 600;
  font-size: 20px;
  color: #353535;
  margin: 38px 0 131px;
}